* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  form {
    align-items: center;
    margin: 5px 39rem;
  }

  button{
    color: black;
    border: 2px solid red;
    padding: 5px;
    background-color: red; 
  }
  input {
    border: 2px dotted purple;
    background-color: burlywood;
  }
  input:hover {
    padding: 3px;
    background-color: silver;
  }